@font-face {
	font-family: 'PT Sans';
	src: url('../fonts/PTSans-Regular.eot');
	src: url('../fonts/PTSans-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/PTSans-Regular.woff2') format('woff2'),
		url('../fonts/PTSans-Regular.woff') format('woff'),
		url('../fonts/PTSans-Regular.ttf') format('truetype'),
		url('../fonts/PTSans-Regular.svg#PTSans-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'AGAvantGardeCyr';
	src: url('../fonts/AGAvantGardeCyrBook.eot');
	src: url('../fonts/AGAvantGardeCyrBook.eot?#iefix') format('embedded-opentype'),
		url('../fonts/AGAvantGardeCyrBook.woff2') format('woff2'),
		url('../fonts/AGAvantGardeCyrBook.woff') format('woff'),
		url('../fonts/AGAvantGardeCyrBook.ttf') format('truetype'),
		url('../fonts/AGAvantGardeCyrBook.svg#AGAvantGardeCyrBook') format('svg');
	font-weight: normal;
	font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    font-family: 'PT Sans';
    height: 100%;
}

img {max-width: 100%;}

h3 {color: #000;}

::-webkit-input-placeholder {color: #283246;}
:-moz-placeholder {
   color: #283246;
   opacity: 1;
}
::-moz-placeholder {
   color: #283246;
   opacity: 1;
}
:-ms-input-placeholder {color: #283246;}

.wrapper {
    position: relative;
    min-height: 100%;
}

.content {padding-bottom: 90px;}

.logo {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

header {border-bottom: 4px solid #f5a3b0;}

.header-menu .navbar-nav {
    float:none;
    margin:0 auto;
    display: block;
    text-align: center;
}

.header-menu  {
    background-color: transparent;
    border: 0;
    margin-bottom: 33px;
}

.header-menu .navbar-nav > li {
    display: inline-block;
    float:none;
}

.header-menu .navbar-nav li a {
    font-size: 14px;
    color: #9797a2;
}

.header-menu .navbar-nav li a span {font-size: 12px;}

.block-search {
    background: url('../img/bg_filter.png') no-repeat center center;
    width: 100%;
    height: 280px;
}

.block-search--margin {margin-bottom: 45px;}

.line-search {
    width: 100%;
    height: 77px;
    background: #f5a3b0;
    margin-top: 176px;
		position: relative;
}

.form-field.town,
.form-field.type,
.form-field.price,
.form-field.bd,
.form-field.td,
.form-field.sqft {
    width: 25%;
    background-color: #e4e4e4;
    float: left;
    padding: 20px 10px 20px 10px;
    height: 77px;
}

.form-field.type,
.form-field.price {width: 17%;}

.form-field.bd,
.form-field.td {width: 7%;}

.form-field.sqft {width: 12%;}

.form-field.submit {
    background-color: transparent;
    padding: 19px 0 19px 20px;
    position: relative;
    text-align: center;
    width: 15%;
    float: left;
}

.form-field.submit::before {
    border-bottom: 78px solid transparent;
    border-left: 20px solid #e4e4e4;
    content: "";
    left: 0;
    position: absolute;
    top: 0;
}

.form-field select {
    width: 100%;
    height: 37px;
    border: 0;
    outline: none;
    font-size: 13px;
		background: #fff;
}

.form-field button {
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 3px;
    font-size: 13px;
    margin: 0;
    padding: 10px;
    text-transform: uppercase;
    vertical-align: top;
    color: #fff;
    font-family: 'AGAvantGardeCyr';
    outline: none;
}

.block-courusel h3 {
    color: #000;
    margin-top: 56px;
}

.item {
    width: 221px;
    height: 279px;
    margin-top: 21px;
    position: relative;
}

.see-all {
    font-size: 10px;
    background: #555;
    border-radius: 4px;
    color: #e4e4e4;
    border: 0;
    padding: 8px 9px;
    margin-top: 47px;
}

.block-courusel .col-md-6 + .col-md-6 {text-align: right;}

.block-slider {
    height: 319px;
    background: #d3d3d3;
}

.block-slider .owl-controls .owl-prev {
    position: absolute;
    top: 0;
    width: 12px;
    height: 319px;
    background: #949494;
    color: #fff;
    line-height: 319px;
    font-size: 11px;
    text-align: left;
}

.block-slider .owl-controls .owl-next {
    position: absolute;
    top: 0;
    right: 0px;
    width: 12px;
    height: 319px;
    background: #949494;
    color: #fff;
    line-height: 319px;
    font-size: 11px;
    text-align: right;
}

.info-house {
    width: 100%;
    height: 61px;
    background: #ebebeb;
    border-top: 4px solid #f5a3b0;
    text-align: center;
}

.price-house {
    font-size: 12px;
    color: #555;
    margin-top: 12px;
    text-align: center;
    font-family: 'AGAvantGardeCyr';
}

.bed {
    background: url('../img/bed-icon.png') no-repeat;
    height: 10px;
    font-size: 12px;
    color: #555;
    font-family: 'AGAvantGardeCyr';
    padding-left: 26px;
    line-height: 10px;
    display: inline-block;
}

.drop {
    background: url('../img/drop-icon.png') no-repeat;
    height: 14px;
    font-size: 12px;
    color: #555;
    font-family: 'AGAvantGardeCyr';
    padding-left: 15px;
    line-height: 14px;
    display: inline-block;
}

.caption-slide {
    color: #fff;
    width: 183px;
    height: 47px;
    background: rgba(85, 85, 85, 0.8);
    position: absolute;
    top: 19px;
    left: 0;
    text-align: center;
    text-transform: uppercase;
    font-family: 'AGAvantGardeCyr';
}

.block-featured h3,
.block-contact h3 {
    margin-top: 57px;
    margin-bottom: 29px;
}

.title-text-featured {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
}

.block-form {
    width: 568px;
    height: 166px;
    border: 2px solid #b1b1b1;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    display: inline-block;
    vertical-align: top;
    float: left;
}

.block-form input {
    width: 33.3%;
    float: left;
    border-bottom: 2px solid #b1b1b1;
    border-left: 0;
    border-top: 0;
    border-right: 2px solid #b1b1b1;
    height: 31px;
    padding-left: 15px;
    color: #283246;
    font-weight: 700;
		outline: none;
}

.block-form textarea {
    width: 100%;
    height: 131px;
    resize: none;
    border: 0;
    padding-left: 15px;
		padding-top: 15px;
    color: #283246;
    font-weight: 700;
		outline: none;
}

.block-submit {
    height: 166px;
    border-bottom: 2px solid #b1b1b1;
    border-top: 2px solid #b1b1b1;
    border-left: 0;
    border-right: 2px solid #b1b1b1;
    -webkit-border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomright: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    display: inline-block;
    vertical-align: top;
    padding: 2px;
}

.block-submit input {
    width: 138px;
    height: 100%;
    background: #f5a3b0;
    outline: none;
    border: 0;
    color: #fff;
}

.block-contact-info {
    color: #283246;
    font-size: 14px;
}

.name-company {font-size: 20px;}

.block-many-link {margin-bottom: 63px;}

.block-many-link h3 {
    margin-top: 67px;
    margin-bottom: 25px;
}

.block-many-link span {
    font-size: 10px;
    color: #f5a3b0;
}

.block-many-link a {
    font-size: 14px;
    color: #555;
}

.block-many-link .col-md-2 div {margin-bottom: 18px;}

footer {
    min-height: 128px;
    background: #555;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

.footer-menu {
    text-align: center;
    padding-top: 45px;
}

.footer-menu ul {padding: 0;}

.footer-menu ul li {
    display: inline;
    border-left: 1px solid #fff;
    padding-left: 16px;
    padding-right: 16px;
}

.footer-menu ul li:first-child {
    border: 0;
    padding-left: 0;
}

.footer-menu ul li:last-child {padding-right: 0;}

.footer-menu ul li a {
    color: #fff;
    font-size: 14px;
}

.copiright {
    color: #f5a3b0;
    margin-top: 34px;
    text-align: center;
}

.slide-menu {
		width: 100%;
		background: #F5A3B0;
		position: absolute;
		top: 77px;
		z-index: 999;
}

.slide-menu-under {
		width: 100%;
		color: #fff;
		padding-bottom: 15px;
		overflow: auto;
}

.slide-menu-under .col-md-3 label {
		color: #fff;
		display: block;
}

.label--margin {margin-top: 20px;}

.wrap-label {
		display: inline-block;
		margin-left: 15px;
		margin-top: 15px;
}

.wrap-label input {
		width: 320px;
		height: 31px;
		outline: none;
		border: 0;
		padding-left: 15px;
}

.wrap-label label {
		display: block;
		color: #fff;
}

.advanced {
		font-size: 18px;
		color: #fff;
		text-align: center;
		margin-top: 20px;
		margin-bottom: 20px;
		cursor: pointer;
}

.advanced span {
		color: #fff;
		font-size: 18px;
}

@media screen and (min-width: 1024px) and (max-width: 1200px) {
	.block-form {width: 100%;}
	.block-submit {
		height: 45px;
		border-left: 2px solid #b1b1b1;
		width: 100%;
	}
	.block-submit input {width: 100%;}
}

@media screen and (max-width: 420px) {
		.block-form input,
		.block-form textarea {font-size: 13px;}
}

@media screen and (max-width: 768px) {
		.block-form {width: 100%;}
		.block-submit {
			height: 45px;
			border-left: 2px solid #b1b1b1;
			width: 100%;
		}
		.block-submit input {width: 100%;}
		.block-contact-info {margin-top: 20px;}
}

@media screen and (max-width: 992px) {
		.form-field.town {width: 100%;}
		.form-field.type {width: 50%;}
		.form-field.price {width: 50%;}
		.form-field.bd {width: 50%;}
		.form-field.td {width: 50%;}
		.form-field.sqft {width: 50%;}
		.form-field.submit {
			width: 50%;
			background-color: #f5a3b0;
		}
		.block-search {height: auto;}
		.line-search {margin-top: 45px;}
		.slide-menu {top: 308px;}
}
